<div class="modal-header">
            <button type="button" class="close" ng-click="cancel()">
                    &times;
            </button>
            <h3 class="modal-title">任务创建</h3>
        </div>
        <div class="modal-body">
          <form action="save" id="createEventForm" method="POST">
        <input type="hidden" id="isMilestone" value="false" name="isMilestone">
       <div class="row">
<!-- NEW COL START -->
                <article class="col-sm-12 col-md-12 col-lg-6">
                    <div class="form-group">
        <label class="col-md-5 control-label">私有任务</label>
        <div class="col-md-1">
           <input type="checkbox" id="isPrivateCheckBox" data-ng-model="event.isPrivate"  name="isPrivate">
        </div>
         <label class="col-md-5 control-label">发送短信通知</label>
        <div class="col-md-1">
          <input type="checkbox" id="sendSms" data-ng-model="event.sendSms" name="sendSms">
        </div>
                   
    </div>
            
              <div class="form-group">
                <label class="col-md-12 control-label">主要负责人(不选择表示自己)</label>
                <br>
                <div class="col-md12">
              <ui-select multiple data-ng-model="event.masterUserId" >
                <ui-select-match placeholder="主要负责人">{{$item.FULL_NAME}}</ui-select-match>
                <ui-select-choices repeat="user in selectUser | filter:$select.search">
                  {{user.FULL_NAME}}
                </ui-select-choices>
              </ui-select>
              </div>
          </div>
           <div class="row">
                <label for="title">标题</label>
                <input type="text" required="" placeholder="请输入标题..." 
                data-ng-model="event.title" value="测试标题" maxlength="30" name="title" id="title">
</div>
 <div class="row">
                <label for="eventTypeId">类型</label><select id="eventTypeId"
 data-ng-model="event.eventTypeId" 
                 name="eventType.id">
<option value="1" selected>日常事务</option>
<option value="2">会议</option>
<option value="3">通知</option>
</select>
                <br>
                <label for="eventLevel">优先级</label>
<select id="eventLevel" name="eventLevel"  data-ng-model="event.eventLevel" >
    <option  value="1">1</option>
    <option  selected="" value="2">2</option>
    <option  value="3">3</option>
    <option  value="4">4</option>
</select>
</div> <div class="row">
                任务短信提醒&nbsp;&nbsp;
                <input type="checkbox" id="isNotifyCheckBox"
                    data-ng-model="event.isNotify"
                 onchange="notifyCheckBox(this)" name="isNotify">
                &nbsp;&nbsp;
                <div style="margin-top: 10px;display: none" id="notifyDiv">
                    提醒频率：<select name="eventNotifyType" onchange="notifyTypeChange('#eventNotifyType')" id="eventNotifyType">
                                <option value="ONCE">仅一次</option>
                                <option value="EVERY_DAY">每天</option>

                             </select>
                    <br>
                    提醒时间：<div id="notifyValueDiv">
                                <input type="text" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" required="" name="notifyTime">
                             </div>
                </div>
                </div>
            </article>

             <article class="col-sm-12 col-md-12 col-lg-6">
                <label id="buildProjectLabel">选择工程<select value="1" data-ng-model="event.buildProject.id" name="buildProjectId" style="display: none" id="buildProjectSelect" class="buildProjectSelect">
 <option value="1">默认建设项目</option></select></label>
                
                是否平行任务&nbsp;
                <input type="checkbox" id="separateReport" >
                <label style="margin-top: 10px" for="select_participants">请选择参与人</label>
                <select multiple="true" data-placeholder="请选择参与人" class="select2" data-size="8"
                 title="请选择参与人" data-live-search="true" data-rel="chosen"  data-ng-model="event.participants"
                       name="participants" id="select_participants" >
<option selected="selected" value="103">系统管理员</option>
</select>
                <label for="startDate">开始时间</label>
                    <input type="text"    
                    onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',alwaysUseStartDate:true,startDate:'%y-%M-01 00:00:00'})" 
                    ng-model="event.startDate" 
                    name="startDate" id="startDate" value="">
                <label for="endDate">截止时间</label>

                    <input type="text" onclick="WdatePicker({minDate:'#F{$dp.$D(\'startDate\')}',dateFmt:'yyyy-MM-dd HH:mm:ss'})" data-format="yyyy-MM-dd HH:mm:ss" name="endDate"  data-ng-model="event.endDate" id="endDate">
                <label for="description">任务描述</label>
                <textarea rows="4" cols="3" placeholder="任务说明..." name="description"
                    data-ng-model="event.description"           id="description"></textarea>
                <br><br>
             
           </article>

        </div>
    </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="save()">创建</button>
            <button class="btn btn-warning" ng-click="cancel()">cancel</button>
        </div>