<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	<context:component-scan base-package="com.agilemaster.partbase,com.junjie.commons">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	<import resource="spring-env.xml" />
	<import resource="database.xml" />
	<import resource="datasource-quartz.xml" />
	<import resource="classpath:spring-config-cache.xml" />
	<import resource="classpath:spring-config-shiro.xml" />
	<import resource="classpath:spring-db-client.xml" />
	<bean class="org.springframework.orm.jpa.JpaTransactionManager"
		id="transactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<bean id="jpaVendorAdapter"
		class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
		<property name="showSql" value="false" />
		<property name="database" value="${database}" />
	</bean>

	<bean
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
		id="entityManagerFactory">
		<property name="persistenceUnitName" value="persistenceUnit" />
		<property name="dataSource" ref="dataSource" />
		<property name="jpaVendorAdapter" ref="jpaVendorAdapter" />
	</bean>

	<bean id="executorService" class="java.util.concurrent.Executors"
		factory-method="newFixedThreadPool" destroy-method="shutdownNow">
		<constructor-arg value="20">
		</constructor-arg>
	</bean>
	<bean class="com.agilemaster.partbase.spring.SpringUtils" />
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<!-- 国际化信息所在的文件名 -->
		<property name="basename" value="i18n/messages" />
		<!-- 如果在国际化资源文件中找不到对应代码的信息，就用这个代码作为名称 -->
		<property name="useCodeAsDefaultMessage" value="true" />
	</bean>
	<bean id="quartzService" class="com.junjie.commons.quartz.QuartzServiceImpl">
		<property name="scheduler" ref="scheduler" />
	</bean>
	<bean name="scheduler"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
	    <property name="dataSource" ref="datasourceQuartz" />
		<property name="configLocation" value="classpath:quartz.properties" />
		<property name="schedulerContextAsMap">
			<map>
				<!-- spring 管理的service需要放到这里，才能够注入成功 -->
				<description>schedulerContextAsMap</description>
				<entry key="eventNotifyJobService" value-ref="eventNotifyJobService" />
			</map>
		</property>
		<!-- 通过applicationContextSchedulerContextKey属性配置spring上下文 -->
		<property name="applicationContextSchedulerContextKey">
			<value>applicationContext</value>
		</property>
	</bean>
	<jpa:repositories base-package="com.agilemaster.partbase.repository" />
</beans>
