<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:camel="http://camel.apache.org/schema/spring" xmlns:broker="http://activemq.apache.org/schema/core"
	xsi:schemaLocation="
         http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
         http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
         http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd">
<context:component-scan base-package="com.junjie.commons.test.db">
	</context:component-scan>
	<camelContext id="camel" xmlns="http://camel.apache.org/schema/spring">
		<template id="camelTemplate" />
	</camelContext>
		<bean id="junjieJdbcNettyRequest" class="com.junjie.commons.db.client.JunjieJdbcNettyRequest"
		depends-on="camel">
		<property name="producerTemplate"  ref="camelTemplate"></property>
		<property name="endpointUri"  value="netty4:tcp://localhost:5150"></property>
		<property name="dataSourceSelecter"  ref="dataSourceSelecter"></property>
	</bean>
	
	<bean id="junjieJdbcTemplate" class="com.junjie.commons.db.client.JunjieJdbcTemplate"
		depends-on="camel">
		<property name="junjieJdbcRequest"  ref="junjieJdbcNettyRequest"></property>
	</bean>
	<bean id="dataSourceSelecter" class="com.agilemaster.parta.db.DataSourceSelecterImpl" >
	<property name="dbInstanceCount"  value="10"/>
	</bean>
</beans>