<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:camel="http://camel.apache.org/schema/spring" xmlns:broker="http://activemq.apache.org/schema/core"
	xsi:schemaLocation="
         http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
         http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
         http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd">
	<context:component-scan base-package="com.junjie.commons.sms">
	</context:component-scan>
	<bean id="quartzService" class="com.junjie.commons.quartz.QuartzServiceImpl"  >
	 <property name="scheduler" ref="scheduler" />
	</bean>
    <bean name="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" >  
    
     		 <property name="configLocation" value="classpath:quartz.properties" />
            <property name="schedulerContextAsMap">    
                <map>    
            <!-- spring 管理的service需要放到这里，才能够注入成功 -->    
                    <description>schedulerContextAsMap</description>    
                    <entry key="smsService" value-ref="smsService"/>  
                </map>    
            </property>  
                    <!-- 通过applicationContextSchedulerContextKey属性配置spring上下文 -->    
            <property name="applicationContextSchedulerContextKey">    
                <value>applicationContext</value>    
            </property>   
        </bean>  
</beans>