<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:camel="http://camel.apache.org/schema/spring" xmlns:broker="http://activemq.apache.org/schema/core"
	xsi:schemaLocation="
         http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
         http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
         http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd">

	<bean id="nettyMethodListener" class="com.junjie.commons.db.server.NettyMethodListener"
		depends-on="camel" >
			<property name="junjieJdbcTemplateServer"  ref="junjieJdbcTemplateServer"/>
	</bean>
	<camelContext id="camel" xmlns="http://camel.apache.org/schema/spring">
		<!-- <routeBuilder ref="parallelRouteBuilder" /> -->
		<route id="options">
			<from uri="netty4:tcp://localhost:5150" />
			<process ref="nettyMethodListener" />
		</route>
	</camelContext>
	<bean id="junjieJdbcAccessor" class="com.junjie.commons.test.db.JunjieJdbcAccessorImpl" />
	<bean id="junjieJdbcTemplateServer" class="com.junjie.commons.db.server.JunjieJdbcTemplateServer">
		<property name="junjieJdbcAccessor" ref="junjieJdbcAccessor"></property>
	</bean>
</beans>